In [4]:
import pandas as pd
import csv

df = pd.read_csv('csv_Data_Loan.csv')
df_number = df.select_dtypes(include=['number'])
df_object = df.select_dtypes(include=['object'])

print("Thông tin DataFrame df_number:")
print(df_number.info())
print("\nThông tin DataFrame df_object:")
print(df_object.info())

df_Temp = pd.read_csv('Temp.txt')
cities_of_interest = ['Hà Nội', 'Vinh', 'Đà Nẵng', 'Nha Trang', 'TP Hồ Chí Minh', 'Cà Mau']
df_Temp = df_Temp[df_Temp.isin(cities_of_interest)]
df_Temp.head()

print("Thông tin DataFrame df_Temp:")
print(df_Temp)

Thông tin DataFrame df_number:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113680 entries, 0 to 113679
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   loan_amnt   113680 non-null  int64
 1   int_rate    113680 non-null  float64
 2   annual_inc  113676 non-null  float64
 3   bad_loan    113680 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 3.5 MB
None

Thông tin DataFrame df_object:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113680 entries, 0 to 113679
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   term            113680 non-null  object
 1   home_ownership  113680 non-null  object
 2   purpose         113680 non-null  object
 3   addr_state      113680 non-null  object
dtypes: object(4)
memory usage: 3.5+ MB
None
Thông tin DataFrame df_Temp:
    25.65 24.79 24.01 25.06 25.48 24.97
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
..                                  ...
186                                 NaN
187                                 NaN
188                                 NaN
189                                 NaN
190                                 NaN

[191 rows x 1 columns]